.wrapper-item {
    width: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: white;
}

.wrapper-item-right {
    padding-left: 20px;
}

.wrapper-item-right p {
    padding-top: 10px;
}

img {
    width: auto;
    height: 120px;
}

button {
    background-color: white;
    border-style: none;
    cursor: pointer;
}

.buttons {
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: peru;
}

/* .buttons button {
    width: 50px;
    color: peru;
} */
.buttons button {
    height: 33.4px;
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: 1px solid lightskyblue;
}

.buttons {
    padding-left: 50px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/