<mat-card class="wrapper-item">
  <mat-card-header>
    <div class="wrapper-item-img">
      <img mat-card-image [src]="product.image" alt="Photo" />
    </div> 
  </mat-card-header>
  <mat-card-content class="wrapper-item-right">
    <mat-card-title>{{ product.name }}</mat-card-title>
    <p>
      {{ product.description }}
    </p>
    <p><b>Рейтинг: </b>{{ product.rating.rate }}</p>
    <p><b>Отзывы: </b>{{ product.rating.count }}</p>
    <p><b>Цена:</b> {{ product.price }} $</p>
    <p><b>Нравится:</b> {{ product.likes }}</p>
    <mat-card-actions class="buttons">
      <button mat-button (click)="handleLike()">
        <fa-icon [icon]="heart"></fa-icon>
      </button>
      <button (click)="handleDelete()">X</button>
      <div class="buttons">
        <button type="button" (click)="share(product.link)">Share</button>
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
